* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    line-height: 20pt;
}
.logo {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 15%;
}
#logo-nav {
    align-items: center;
    background-color: red;
}
#links-header {
    position: relative;
    overflow: hidden;
    width: 700px;
    margin: auto;
    /* font-size: 20px; */
}
#links-header a{
    float: none;
    color: #fefefe;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}
#links-header a:hover{
    color: #dabe99;
}
#links-header a.active {
    background-color: #dabe99;
    color: #843339;
}

#header-photo {
    width: 100%;
    height: auto;
}
.header-photo {
    width: 100%;
    height: auto;
}
#header-container {
    position: relative;
    text-align: center;
    color: black;
    
}
#header-text {
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    height: auto;
    position: absolute;
    top: 50px;
    left: 20px;
    margin-right: 50px;
    font-size: 20px;
}
.header-p {
    display: flex;
    flex-wrap: wrap;
}
.btn60{
    background-color: #843339;
    /* color: #dabe99; */
    padding: 14px 40px;
    border-radius: 12px;
    font-size: 15px;
    border: none;
    text-align: center;
    display: inline-block;
    overflow: hidden;
    margin-top: 10px;
    
}
.btn60 a{
    text-decoration: none;
    color: #dabe99;
}
.btn60:hover {
    background-color: #dabe99;
}
.btn60 a:hover{
    color: #843339;
}
.btn27 {
    background-color: #dabe99;
    /* color: #dabe99; */
    padding: 14px 40px;
    border-radius: 12px;
    font-size: 15px;
    border: none;
    text-align: center;
    display: inline-block;
    overflow: hidden;
    margin-top: 10px;
}
.btn27 a{
    text-decoration: none;
    color: #843339;
}
.btn27:hover {
    background-color: #843339;
}
.btn27 a:hover{
    color: #dabe99;
}

#address-body{
    text-align: center;
    margin-top: 50px;
}
.address-desc {
    margin-top: 20px;
    line-height: 20pt;
}
.map-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 45%;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #dabe99;
    padding: 10px 40px;
    border: 2px solid #843339;
    border-radius: 15px;
}
.map-btn a{
    text-decoration: none;
    color: #843339;
}
.map-img {
    display: flex;
    justify-content: center;
    text-align: center;
    /* border: 50px solid gray; */
}
.map-img1, .map-img2, .map-img3 {
    margin: 20px;
    border: 50px solid gray;
    background-color: gray;
    color: wheat;
}
#services-container {
    display: flex;
    margin-top: 50px;
    width: 100%;
    /* box-sizing: border-box; */
    /* -webkit-box-flex: 0; */
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
}
#service1 {
    width: 450px;
    height: 800px;
    box-shadow: 0 0 5px grey;
    padding: 10px 0;
    border-radius: 10px;
    margin: 20px;
}

.euro-desc {
    margin: 20px;
    padding: 30px;
    border: 10px;
}
.euro-photo {
    width: 430px;
    height: 470px;
    object-fit: cover;
    box-shadow: 0 0 5px gray;
    border-radius: 10px;
    display: block;
    margin: 10px;
}
#dollars {
    width: 450px;
    height: 800px;
    box-shadow: 0 0 5px grey;
    padding: 10px 0;
    border-radius: 10px;
    margin: 20px;
}

.dollad-desc {
    margin: auto;
    padding: 30px;
    border: 10px;
}
.dollar-photos {
    width: 430px;
    height: 500px;
    object-fit: cover;
    box-shadow: 0 0 5px gray;
    border-radius: 10px;
    display: block;
    margin: 10px;
}
#pound {
    width: 450px;
    height: 800px;
    box-shadow: 0 0 5px grey;
    padding: 10px 0;
    border-radius: 10px;
    margin: 20px;
}

.pound-desc {
    margin: 20px;
    padding: 30px;
    border: 10px;
}
.pound-photo {
    width: 430px;
    height: 500px;
    object-fit: cover;
    box-shadow: 0 0 5px gray;
    border-radius: 10px;
    display: block;
    margin: 10px;
}
.eruo, .dollar, .pound {
    font-size: 35pt;
    margin-top: 20px;
    color: #843339;
}
#footer {
    background-color: #843339;
    color: #dabe99;
    display: flex;
    margin-top: 10px;
}
#links-footer {
    /* display: flex; */
    margin: 50px 50px;
}
#links-footer a {
    overflow: hidden;
    text-decoration: none;
    color: #dabe99;
    margin: 20px;
}
#location {
    margin: 20px 50px;
}
#email {
    margin: 20px 50px;
}
#phone {
    margin: 20px 50px;
}
#copyright {
    background-color: #dabe99;
    color: #843339;
}

